# Build artifacts
.gradle/
build/
/captures
.externalNativeBuild
.cxx

# IDE files
*.iml
.idea/
.DS_Store

# Local configuration
local.properties

# Kotlin
.kotlin/

# Fastlane
# fastlane/report.xml
# fastlane/Preview.html
# fastlane/screenshots/
# fastlane/test_output/
